<div class="row">
	<div class="col-md-12">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-user font-green-sharp">
					</i>
					<span class="caption-subject font-green-sharp bold uppercase">All Accounts</span>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-toolbar">
					<div class="row">
						<div class="col-md-6">
							<div class="btn-group">
								<button type="button" class="btn btn-success" ng-click="add()">
								Add Account <i class="fa fa-plus"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
				<table class="table table-striped table-hover table-bordered" id="accountTable">
					<thead>
					    <tr>
                            <th>
                                Learner ID
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Role
                            </th>
                            <th>
                                Module
                            </th>
                            <th>
                                Post Title
                            </th>
                            <th>
                                Contact Phone
                            </th>
                            <th>
                                Contact Email
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a href="#">1155043803</a>
                            </td>
                            <td>
                                Alice Sinclair
                            </td>
                            <td>
                                Administrator
                                <br />
                                Module Owner
                            </td>
                            <td>
                                <a href="#">1001-A</a>
                                <br />
                                <a href="#">1006-xxx</a>
                            </td>
                            <td>
                                Manager
                            </td>
                            <td>
                                43991111
                            </td>
                            <td>
                                example1@gmail.com
                            </td>
                        </tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>