<div class="modal-header">
    <span class="close" ng-click="$dismiss()"></span>
    <h4 class="modal-title">Module - Title for Module 3025</h4>
</div>
<div class="modal-body">
    <div class="form-horizontal">
        <div class="form-body">
            <div class="form-group">
                <label class="col-md-3 control-label">Action</label>
                <div class="col-md-9">
                    <span class="label label-success">Approve</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Remarks</label>
                <div class="col-md-9">
                    <textarea class="form-control" rows="5"></textarea>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                    <button type="button" class="btn blue-madison">Confirm</button>
                    <button type="button" class="btn btn-default" ng-click="$dismiss()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>