<div class="row">
	<div class="col-md-12">
		<div class="portlet box green">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-user"></i> Add Account
				</div>
			</div>
			<div class="portlet-body form">
				<form class="form-horizontal" name="accountForm" novalidate>
					<div class="form-body">
						<div class="form-group">
							<label class="col-md-3 control-label"><span class="required">* </span>Learner ID</label>
							<div class="col-md-9">
								<input type="text" name="learnerId" class="form-control" ng-model="account.learnerId" required>
								<span class="help-block" ng-show="accountForm.learnerId.$error.required">This field is Required</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label"><span class="required">* </span>Role</label>
							<div class="col-md-9">
								<ui-select multiple theme="bootstrap" ng-model="account.roles" on-select="updateOnSelect($item)" on-remove="updateOnRemove($item)">
									<ui-select-match placeholder="Select Roles...">{{$item}}</ui-select-match>
									<ui-select-choices repeat="role in $root.roles">{{role}}</ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">Module</label>
							<div class="col-md-9">
								<ui-select multiple theme="bootstrap" ng-model="account.modules" ng-disabled="! modules.length">
									<ui-select-match placeholder="Select Modules...">{{$item.moduleId}} - {{$item.title}}</ui-select-match>
									<ui-select-choices repeat="module in modules">
										{{module.moduleId}} - {{module.title}}
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label"><span class="required">* </span>Name</label>
							<div class="col-md-9">
								<input type="text" name="username" class="form-control" ng-model="account.username" required>
								<span class="help-block" ng-show="accountForm.username.$error.required">This field is Required</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">Post Title</label>
							<div class="col-md-9">
								<input type="text" class="form-control" ng-model="account.postTitle">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">Contact Phone</label>
							<div class="col-md-9">
								<input type="tel" class="form-control" ng-model="account.contactPhone">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label"><span class="required">* </span>Contact Email</label>
							<div class="col-md-9">
								<input type="email" name="contactEmail" class="form-control" ng-model="account.contactEmail" required>
								<span class="help-block" ng-show="accountForm.contactEmail.$invalid">Enter a valid email</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">Request Date</label>
							<div class="col-md-9">
								<div class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-end-date="0d">
									<input type="text" class="form-control" ng-model="account.requestDate" readonly />
									<span class="input-group-btn">
										<button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="form-actions">
						<div class="row">
							<div class="col-md-offset-3 col-md-9">
								<button type="button" class="btn green" ng-click="save()" ng-disabled="(! accountForm.$valid) || account.roles.length == 0">Save</button>
								<a class="btn btn-default" ui-sref="all-accounts">Cancel</a>
							</div>
						</div>
						<div style="margin: 10px 0 0 0;" class="alert alert-danger" ng-show="error">
			                <span>
				                {{ error }}
			                </span>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
