<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-madison">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-folder"></i> Add Module
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Module Title</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" ng-model="title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Division</label>
                            <div class="col-md-9">
                                <select id="DivisionSelection" class="form-control select2" ng-model="division">
                                    <option></option>
                                    <option value="1">Division1</option>
                                    <option value="2">Division2</option>
                                    <option value="3">Division3</option>
                                    <option value="4">Division4</option>
                                    <option value="5">Division5</option>
                                    <option value="6">Division6</option>
                                    <option value="7">Division7</option>
                                    <option value="8">Division8</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="button" class="btn blue-madison" ng-click="save()">Save</button>
                                <a class="btn btn-default" ui-sref="all-modules">Cancel</a>
                            </div>
                        </div>
                        <div style="margin: 10px 0 0 0;" class="alert alert-success" ng-show="success">
			                <span>
				                {{ success }}
			                </span>
                        </div>
                        <div style="margin: 10px 0 0 0;" class="alert alert-danger" ng-show="error">
			                <span>
				                {{ error }}
			                </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
