<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-folder font-red-haze">
                    </i>
                    <span class="caption-subject font-red-haze bold uppercase">All Histories</span>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-hover table-bordered" id="historyTable">
                    <thead>
                    <tr>
                        <th>
                            ActionTime
                        </th>
                        <th>
                            LearnerId
                        </th>
                        <th>
                            Username
                        </th>
                        <th>
                            Action
                        </th>
                        <th>
                            Remarks
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>