<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-folder font-blue-madison">
                    </i>
                    <span class="caption-subject font-blue-madison bold uppercase">All Modules</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <button type="button" class="btn blue-madison" ui-sref="add-module">
                                    Add Module <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered" id="moduleTable">
                    <thead>
                        <tr>
                            <th>
                                Division
                            </th>
                            <th>
                                Module
                            </th>
                            <th>
                                Display Status
                            </th>
                            <th>
                                Editing Status
                            </th>
                            <th>
                                Last Action By
                            </th>
                            <th>
                                Last Action Time
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>