<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-madison">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-folder"></i> Edit Module Properties
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Module ID</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" ng-model="module.moduleId">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Module Title</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" ng-model="module.title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Division</label>
                            <div class="col-md-9">
                                <select id="DivisionSelection" class="form-control select2" ng-model="module.divisionId">
                                    <option value="1">Division1</option>
                                    <option value="2">Division2</option>
                                    <option value="3">Division3</option>
                                    <option value="4">Division4</option>
                                    <option value="5">Division5</option>
                                    <option value="6">Division6</option>
                                    <option value="7">Division7</option>
                                    <option value="8">Division8</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Display Status</label>
                            <div class="col-md-9">
                                <select id="DisplayStatusSelection" class="form-control select2" ng-model="module.displayStatus">
                                    <option value="active">Active</option>
                                    <option value="inactive">Inactive</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Editing Status</label>
                            <div class="col-md-9">
                                <span class="label label-warning">{{ module.editStatus }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Module Owner</label>
                            <div class="col-md-9">
                                <span ng-repeat="owner in module.owners">
                                    <a href="#/account/{{owner}}">{{ owner }}</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="button" class="btn blue-madison" ng-click="save()">Save</button>
                                <a class="btn btn-default" ui-sref="module-information">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>