<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-madison">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-folder"></i> Edit Module Properties
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" name="moduleForm">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label"><span class="required">* </span>Module ID</label>
                            <div class="col-md-9">
                                <input type="text" name="moduleId" class="form-control" ng-model="module.moduleId" required>
                                <span class="help-block" ng-show="moduleForm.moduleId.$error.required">This field is Required</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"><span class="required">* </span>Module Title</label>
                            <div class="col-md-9">
                                <input name="title" type="text" class="form-control" ng-model="module.title" required>
                                <span class="help-block" ng-show="moduleForm.title.$error.required">This field is Required</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"><span class="required">* </span>Division</label>
                            <div class="col-md-9">
                                <ui-select theme="bootstrap" ng-model="module.selectedDivision">
                                    <ui-select-match placeholder="Select a Division...">{{$select.selected.divisionId}} - {{$select.selected.divisionName}}</ui-select-match>
                                    <ui-select-choices repeat="division in divisions">{{division.divisionId}} - {{division.divisionName}}</ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Display Status</label>
                            <div class="col-md-9">
                                <ui-select theme="bootstrap" ng-model="module.displayStatus">
                                    <ui-select-match placeholder="Select DisplayStatus...">{{$select.selected}}</ui-select-match>
                                    <ui-select-choices repeat="displayStatus in $root.displayStatus">{{displayStatus}}</ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Editing Status</label>
                            <div class="col-md-9" style="margin-top: 8px;">
                                <span class="label label-warning">{{ module.editStatus }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Module Owner</label>
                            <div class="col-md-9" style="margin-top: 8px;">
                                <span ng-repeat="owner in module.owners">
                                    <a href="#/account-information/{{owner}}">{{ owner }}</a>&nbsp; &nbsp;
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="button" class="btn blue-madison" ng-click="save()" ng-disabled="(! moduleForm.$valid) || module.selectedDivision == null || module.editStatus == 'Waiting for Approval' || module.editStatus == 'Waiting for Publish'">Save</button>
                                <a class="btn btn-default" href="#/module-information/{{module.moduleId}}">Cancel</a>
                            </div>
                        </div>
                        <div style="margin: 10px 0 0 0;" class="alert alert-danger" ng-show="error">
			                <span>
				                {{ error }}
			                </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>