<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-madison">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-folder"></i> Edit Module Properties
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Module ID</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" value="3025">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Module Title</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" value="Title for Module 3025">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Division</label>
                            <div class="col-md-9">
                                <select id="DivisionSelection" class="form-control select2">
                                    <option selected="true">Division1</option>
                                    <option>Division2</option>
                                    <option>Division3</option>
                                    <option>Division4</option>
                                    <option>Division5</option>
                                    <option>Division6</option>
                                    <option>Division7</option>
                                    <option>Division8</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Display Status</label>
                            <div class="col-md-9">
                                <select id="DisplayStatusSelection" class="form-control select2">
                                    <option selected="true">Active</option>
                                    <option>Inactive</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Editing Status</label>
                            <div class="col-md-9">
                                <span class="label label-warning">Waiting for Approval</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Module Owner</label>
                            <div class="col-md-9">
                                <a>1132093818</a>,
                                <a>1483704273</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="button" class="btn blue-madison">Save</button>
                                <a class="btn btn-default" ui-sref="module-information">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>