<h3 ng-show="! $parent.current.isPage">Please Select a Page to Edit</h3>

<div ng-show="$parent.current.isPage" class="row">
    <div class="col-md-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    Template Library
                </div>
            </div>
            <div class="portlet-body">
                <div style="height:140px; overflow: auto;">
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="templateCenter">
                            <label>
                                <img src="../images/template_icon1.png" class="templateLibrary" />
                                <input type="radio" name="templateSelection" value="0">
                                Original
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="templateCenter">
                            <label>
                            <img src="../images/template_icon1.png" class="templateLibrary" />
                            <input type="radio" name="templateSelection" value="1">
                                Chapter Title
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="templateCenter">
                            <label>
                            <img src="../images/template_icon1.png" class="templateLibrary" />
                            <input type="radio" name="templateSelection" value="2">
                                Answer
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="templateCenter">
                            <label>
                            <img src="../images/template_icon1.png" class="templateLibrary" />
                            <input type="radio" name="templateSelection" value="3">
                                 Chapter Cover
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="templateCenter">
                            <label>
                                <img src="../images/template_icon1.png" class="templateLibrary" />
                                <input type="radio" name="templateSelection" value="4">
                                Template
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="templateCenter">
                            <label>
                                <img src="../images/template_icon1.png" class="templateLibrary" />
                                <input type="radio" name="templateSelection" value="5">
                                Template
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-show="$parent.current.isPage" class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    Template Content
                </div>
            </div>
            <div class="portlet-body">
                <div style="margin-bottom: 20px;">
                    <div id="moduleEditor">
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-primary" style="margin-bottom: 10px;" ng-click="preview()">Preview Current Version</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-primary">Export Current Version</button>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-6">
                            <button class="btn btn-primary" style="margin-bottom: 10px;" ng-disabled="! module.isPublished">Preview Last Published Version</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-primary" ng-disabled="! module.isPublished">Export Last Published Version</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div>
            <button type="button" class="btn" ng-click="save()" ng-disabled="(! $parent.current.isPage) && (! $parent.current.isChapter)">Save</button>
            <button type="button" class="btn" ng-click="cancel()">Cancel</button>
            <button type="button" class="btn" ng-disabled="(! $parent.current.isChapter) && (! $parent.current.isPage)" ng-click="$parent.addPage()">Add Page</button>
            <button type="button" class="btn" ng-disabled="! $parent.current.isPage" ng-click="delete()">Delete</button>
        </div>
    </div>
    <div class="col-md-12">
        <div style="margin: 10px 0 0 0;" class="alert alert-success" ng-show="success">
            <span class="close" ng-click="close()"></span>
            <span>
                {{ success }}
            </span>
        </div>
        <div style="margin: 10px 0 0 0;" class="alert alert-danger" ng-show="error">
            <span class="close" ng-click="close()"></span>
            <span>
                {{ error }}
            </span>
        </div>
    </div>
</div>