<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-madison">
            <div class="portlet-title">
                <div class="caption">
                    Module Properties
                </div>
                <div class="tools">
                    <a href="#/edit-module/{{ module.moduleId }}" style="color: white">
                        Edit Properties>>
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered">
                        <tr>
                            <th class="col-md-3">Module ID</th>
                            <td class="col-md-9">
                                {{ module.moduleId }}
                            </td>
                        </tr>
                        <tr>
                            <th>Module Title</th>
                            <td>
                                {{ module.title }}
                            </td>
                        </tr>
                        <tr>
                            <th>Division</th>
                            <td>
                                {{ module.divisionId }} - {{ module.divisionName }}
                            </td>
                        </tr>
                        <tr>
                            <th>Display Status</th>
                            <td>
                                <span class="label label-sm label-success">
                                    {{ module.displayStatus }}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th>Editing Status</th>
                            <td>
                                <span class="label label-sm label-warning">
                                    {{ module.editStatus }}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th>Module Owner</th>
                            <td>
                                <span ng-repeat="owner in module.owners">
                                    <a href="#/account-information/{{owner}}">{{owner}}</a>
                                </span>
                            </td>
                        </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-madison">
            <div class="portlet-title">
                <div class="caption">
                    Module Content
                </div>
            </div>
            <div class="portlet-body">
                <table class="table">
                    <tr>
                        <th class="col-md-3">
                            Preview Whole Module
                        </th>
                        <td class="col-md-9">
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn btn-primary" style="margin-bottom: 10px;" ng-disabled="! currentVersionExist">Preview Current Version</button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-primary" ng-disabled="! currentVersionExist">Export Current Version</button>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-6">
                                    <button class="btn btn-primary" style="margin-bottom: 10px;" ng-disabled="! module.isPublished">Preview Last Published Version</button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-primary" ng-disabled="! module.isPublished">Export Last Published Version</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Module Content
                        </th>
                        <td>
                            <a ui-sref="module-content" class="btn btn-primary">Module Content</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-madison">
            <div class="portlet-title">
                <div class="caption">
                    Module History
                </div>
                <div class="tools">
                    <a ui-sref="all-module-history" style="color: white">
                        View All>>
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table">
                    <tr ng-repeat="history in moduleHistories">
                        <td class="col-md-3">
                            {{ history.actionTime }}
                            <br />
                            By <a>{{ history.learnerId }}</a>
                            ({{ history.username }})
                        </td>
                        <td class="col-md-9">
                            - {{ history.action }}
                            <br />
                            <span ng-show="history.remarks">
                                Remarks: {{ history.remarks }}
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div>
            <button type="button" class="btn btn-success" ng-click="open('Approve')" ng-disabled="(module.editStatus != 'Waiting for Approval') && (module.editStatus != 'Editing')">Approve</button>
            <button type="button" class="btn btn-warning" ng-click="open('Return for Amendment')" ng-disabled="module.editStatus != 'Waiting for Approval'">Return for Amendment</button>
            <button type="button" class="btn btn-danger" ng-click="open('Reject')" ng-disabled="module.editStatus != 'Waiting for Approval'">Reject</button>
        </div>
        <div style="margin-top: 10px;">
            <button type="button" class="btn blue-madison" ng-disabled="module.editStatus != 'Waiting for Publish'">Publish</button>
            <button type="button" class="btn btn-default" ng-click="open('Delete')" ng-disabled="(module.displayStatus != 'Inactive') && module.owners.size != 0">Delete</button>
        </div>
    </div>
</div>
