<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    Template Library
                </div>
            </div>
            <div class="portlet-body">
                <div style="height:140px; overflow: auto;">
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="templateCenter">
                            <label>
                            <img src="../images/template_icon1.png" class="templateLibrary" />
                            <input type="radio" name="templateSelection" value="1">
                                Chapter Title
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="templateCenter">
                            <label>
                            <img src="../images/template_icon1.png" class="templateLibrary" />
                            <input type="radio" name="templateSelection" value="2">
                                Answer
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="templateCenter">
                            <label>
                            <img src="../images/template_icon1.png" class="templateLibrary" />
                            <input type="radio" name="templateSelection" value="3">
                                 Template
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="templateCenter">
                            <label>
                                <img src="../images/template_icon1.png" class="templateLibrary" />
                                <input type="radio" name="templateSelection" value="4">
                                Template
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="templateCenter">
                            <label>
                                <img src="../images/template_icon1.png" class="templateLibrary" />
                                <input type="radio" name="templateSelection" value="5">
                                Template
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    Template Content
                </div>
            </div>
            <div class="portlet-body">
                <div style="margin-bottom: 20px;">
                    <div id="moduleEditor">
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-primary" style="margin-bottom: 10px;" ng-click="preview()">Preview Current Version</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-primary">Export Current Version</button>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-6">
                            <button class="btn btn-primary" style="margin-bottom: 10px;" ng-disabled="true">Preview Last Published Version</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-primary" ng-disabled="true">Export Last Published Version</button>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 10px;">
                    <button type="button" class="btn btn-default">Save</button>
                    <button type="button" class="btn btn-default">Cancel</button>
                    <button type="button" class="btn btn-default">Add Page</button>
                    <button type="button" class="btn btn-default">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>