<div class="modal-header" style="padding-bottom: 25px;">
    <span class="close" ng-click="$dismiss()"></span>
    <h4 class="modal-title">Specific Module Header</h4>
    <span class="pull-right">Page 1 of 6</span>
</div>
<div class="modal-body" style="margin: 0 10px 0 10px;">
    <div class="row">
        <table style="width: 100%;">
            <tbody>
                <tr>
                    <td style="width: 30%;">
                        <button class="btn btn-nav">
                            <i class="fa fa-angle-left"></i>
                            <span>Previous</span>
                        </button>
                    </td>
                    <td style="width: 40%; text-align: center;">
                        Title
                    </td>
                    <td>
                        <button class="btn btn-nav pull-right">
                            <span>Next</span>
                            <i class="fa fa-angle-right"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="height: 500px; margin-top: 10px; border-style: solid; border-width: 1px; border-color: darkgrey; padding: 0 10px 0 10px;" id="previewBox"></div>
</div>