<h1 ng-bind="errorMessage"></h1>
<div class="row" ng-show="! errorMessage">
    <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="image in images">
        <div class="portlet light">
            <div class="portlet-body">
                <img style="margin-bottom: 20px;" width="100%" height="400px" alt="img" ng-src="{{ image.src }}"/>
                <input type="file" file-upload name="{{$index + 1}}" />
            </div>
        </div>
    </div>
</div>
<button class="btn btn-primary" ng-click="submit()" ng-show="! errorMessage">Submit</button>