/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

.templateLibrary {
	height: 100px;
	display: block;
	margin-bottom: 10px;
}

.templateCenter {
	text-align: center;
}

a.disabled {
	cursor: default;
	pointer-events: none;
	text-decoration: none;
	display: none !important;
}

.page-header.navbar .page-logo .content-header-title {
	display: inline-block;
	margin-top: 20px;
}

.page-header.navbar .content-page-logo {
	width: 350px;
}